<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>利息计算</title>
</head>
<body >
<div ng-app="myApp" ng-controller="myCalculator">
    <p>
        <label for="money">购买金额：</label>
        <input id="money" type="text" ng-model="money" />
        <span>RMB</span>
    </p>
    <p>
        <label for="buyTime">购买期限：</label>
        <input id="buyTime" type="text" ng-model="buyTime" />
        <span>月</span>
    </p>
    <p>
        <label for="myRate">年化利率：</label>
        <input id="myRate" type="text" ng-model="myRate" />
        <span>%</span>
    </p>
    <p>
        <label for="summation">每月增持：</label>
        <input id="summation" type="text" ng-model="summation" />
        <span>RMB</span>
    </p>
    <p>利息：{{sumRate|currency:"￥"}}</p>
    <p>本息：{{sum|currency:"￥"}}</p>
</div>
<script src="angular/angularjs.js"></script>
<script>
    var app=angular.module("myApp",[]);
    app.controller("myCalculator",function ($scope) {
        $scope.summation=0;
        $scope.money=0;
        $scope.myRate=0;
        $scope.buyTime=0;
        var sumMoney;
        setInterval(function () {
            $scope.$apply(function () {
                var trueRate=$scope.myRate/100/12;
                var allMoney=parseInt($scope.money);
                var addMoney=parseInt($scope.summation);
                if(addMoney==null) {
                    addMoney = 0;
                }
                if(allMoney==null){
                    allMoney=0;
                }
                var allRate=$scope.money*$scope.buyTime*trueRate;
                for(var i=$scope.buyTime-1;i>0;i--) {
                    allRate = allRate + addMoney * i * trueRate;
                    allMoney = allMoney + addMoney;
                }
                sumMoney=allMoney+allRate;
                if(!allMoney){
                    $scope.sumRate=0
                }else {
                    $scope.sumRate=allRate;
                }
                if(!sumMoney){
                    $scope.sum=0;
                }else {
                    $scope.sum=sumMoney;
                }

            });
        },100);
    });

</script>
</body>
</html>
