body{
    font-family: "helvetica","Arial",sans-serif;
    background-color: #ffffff;
    color: #000000;
}
table{
    margin: auto;
    border: 1px solid #699;
}
caption{
    margin: auto;
    padding: .2em;
    font-size: 1.2em;
    font-weight: bold;
}
th{
    font-weight: normal;
    font-style: inherit;
    text-align: left;
    border: 1px dotted #699;
    background-color: #9cc;
    color: #000000;
}
th,td{
    width: 10em;
    padding: .5em;
}

.odd{
    background-color: #ffc;
}

/*CSS3奇数行和偶数行选择器*//*
tr:nth-child(odd){background-color: #ffc;}
tr:nth-child(even){background-color: #fff;}*/
